{% extends "layout.html" %}
{% block content %}
<header align="center" style="max-width: 500px; margin-left: auto; margin-right: auto">
      <div class='main_box'>
          <br><br>
          <i><h2>Lead Developer/Director/Creator</h2>
              <br>
      <h4><p>Parinthapat Pengpun</p></h4>
          <h5><p><a target="_blank" href="https://github.com/Parinz">- Github -</a></p>
              <p><a target="_blank" href="https://stackoverflow.com/users/13875810/parinz">- StackOverflow -</a></p>
              <p><a target="_blank" href="https://www.facebook.com/parinthapat.parin.3/">- Facebook -</a></p>
              <p><a target="_blank" href="https://www.instagram.com/im_thereal_tomcruise/">- Instagram -</a></p>
              </i></h5>
        <br>
          <hr>
          <i><h4>Contributors</h4>
              <h5><p><a target="_blank" href="https://www.instagram.com/lemooz.mez1/"> @lemooz.mez1 (Monie) on Instagram. -Feedback Coordinator </a></p></h5></i>
                <h5><p><a target="_blank" href="https://www.instagram.com/jaja_3210/"> @jaja_3210 on Instagram -Fixed the calculation formula of honors.</a> </p></h5>
      <br>
      <a href="/"><h6>{{_('Back to Main Page')}}</h6> </a>

      </div>
    </header>

{% endblock content %}