{% extends "layout.html" %}
{% block content %}

    <header align="center" style="max-width: 500px; margin-left: auto; margin-right: auto">
      <div style="color: black; border: 5px solid black; border-radius: 30px; display: inline-block; background: white">
          <br><br>
          <i><h3>Instructions</h3>
      <h5><p>Tap/Click each space and input your grades as numbers (No percentage sign). Click calculate and your answer will be in the green box.</p></h5></i>
        <br>
           <div class="alert"><b>
              {{ final_grade }}
            </b>
          </div>
          <p style="font-size='5px">Out of 100</p>
          <br>
          <br>
              <fieldset class="form-group">
                  <form action="/elementary" method="POST">
                      <div>
                      <label for="sub1">
                          Math: 
                      </label>
                      <input
                      type="text"
                      placeholder="  100"
                      class="u-full-width"
                      name="sub1"
                      >
                      </div>

                      <div>
                        <label for="sub2">
                            Science: 
                        </label>
                        <input
                        type="text"
                        placeholder="  100"
                        class="u-full-width"
                        name="sub2"
                        >
                        </div>

                        <div>
                            <label for="sub3">
                                Reading: 
                            </label>
                            <input
                            type="text"
                            placeholder="  100"
                            class="u-full-width"
                            name="sub3"
                            >
                            </div>

                            <div>
                                <label for="sub4">
                                    Social Studies 
                                </label>
                                <input
                                type="text"
                                placeholder="  100"
                                class="u-full-width"
                                name="sub4"
                                >
                                </div>

                      


            <input type="submit" class="btn btn-success" value="Calculate" id="calc_button" />
                  </form>
                  </fieldset>

          <br><br><br>
      <br>
      <a href="/"><h4> Back to Main Page</h4> </a>

    </header>

    <br>
{% endblock content %}