{% extends "layout.html" %}
{% block content %}

    <header align="center" style="max-width: 500px; margin-left: auto; margin-right: auto">
      <div class='main_box'>
          <br><br>
          <i><h3>{{_('Instructions')}}</h3>
      <h5><p>{{_('Tap/Click each space and input your grades as numbers (No percentage sign). Click calculate and your answer will be in the box.')}}</p></h5></i>
        <br>
        <div class="alert alert-primary" role="alert"><b>
          {% if final_grade %} {{ final_grade }} {% else %} {{_('YOUR GRADE WILL BE HERE!')}} {% endif %}
          </b>
        </div>
          <p>{{_('Out of 100')}}</p>
          <br>
          <br>
              <fieldset class="form-group">
                  <form action="/elementary" method="POST">
                    <div class="container">
                        <div class="row">
                          <div class="col-sm">
                            <label for="sub1">
                                Math: 
                            </label>
                            <br>
                            <label for="sub2">
                                Science: 
                            </label>
                            <br>
                            <label for="sub3">
                                Reading: 
                            </label>
                            <br>
                            <label for="sub4">
                                Social Studies 
                            </label>
                            <br>
                            <label for="sub5">
                                LA: 
                            </label>
                          </div>
                          <div class="col-sm">
                            <input
                      type="text"
                      placeholder="  100"
                      class="u-full-width"
                      name="sub1"
                      >
                      <br>
                      <input
                        type="text"
                        placeholder="  100"
                        class="u-full-width"
                        name="sub2"
                        >
                    <br>
                        <input
                            type="text"
                            placeholder="  100"
                            class="u-full-width"
                            name="sub3"
                            >
                            <br>
                            <input
                            type="text"
                            placeholder="  100"
                            class="u-full-width"
                            name="sub4"
                            >
                            <br>
                            <input
                            type="text"
                            placeholder="  100"
                            class="u-full-width"
                            name="sub5"
                            >
<br>
                          </div>
                        </div>
                    </div>
    
<br>
<br>
                      


            <input type="submit" class="btn btn-success" value="Calculate" id="calc_button" />
                  </form>
                  </fieldset>

          <br><br><br>
      <br>
      <a href="/"><h4>{{_('Back to Main Page')}}</h4> </a>

    </header>

    <br>
{% endblock content %}