{% extends "layout.html" %} {% block content %}
<header align="center" style="text-align: center; max-width: 500px; margin-left: auto; margin-right: auto">
    <div class="main_box">
        <br>
        <br>
        <b><h2>FAQ</h2></b>
        <h3>{{_('What are Core and Elective Subjects?')}}</h3>
        <br>
        <p class="text-break">{{_('Core Subjects are subjects that are important as the name suggests, these are normally:')}}
            <b><ul class="list-group">
                <li class="list-group-item">{{_('Math/Algebra or a similar class')}}</li>
                <li class="list-group-item">{{_('L.A or a similar class')}}</li>
                <li class="list-group-item">{{_('Integrated/Science or a similar class')}}</li>
                <li class="list-group-item">{{_('Geography/Ancient History or a similar class')}}</li>
            </ul></b>

            <br>

            <div class="alert alert-danger" role="alert">
                {{_('There should only be ')}}<b>{{_('4 core subjects!')}}</b>
            </div>
        </p>

        <p class="text-break">{{_('The rest of the subjects are electives.')}}
            <div class="alert alert-danger" role="alert">
                {{_('There should be ')}}<b>{{_('10 Subjects in TOTAL')}}</b>
            </div>
        </p>

        <br>

        <h3>{{_('Do I have to put in the scores in a specific order?')}}</h3>
        <p class="text-break"> <b>{{_('No,')}}</b> {{_('however, you do need to classify between ')}}<b><i>{{_('CORES AND ELECTIVES.')}}</i></b></p>

        
        <br>
        <a href="/">
            <h4>{{_('Back to Main Page')}}</h4>
        </a>
    </div>
</header>
{% endblock content %}