{% extends "layout.html" %} {% block content %}
<header align="center" style="max-width: 500px; margin-left: auto; margin-right: auto">
    <div class="main_box">
        <br>
        <br>
        <b><h2>FAQ</h2></b>
        <h3>What are Core and Elective Subjects?</h3>
        <br>
        <p class="text-break">Core Subjects are subjects that are important as the name suggests these are normally:
            <b><ul class="list-group">
                <li class="list-group-item">Math/Algebra or a similar class</li>
                <li class="list-group-item">L.A or a similar class</li>
                <li class="list-group-item">Integrated/Science or a similar class</li>
                <li class="list-group-item">Geography/Ancient History or a similar class</li>
            </ul></b>

            <br>

            <div class="alert alert-danger" role="alert">
                There should only be <b>4 core subjects!</b>
            </div>
        </p>

        <p class="text-break">The rest of the subjects are electives.
            <div class="alert alert-danger" role="alert">
                There should be <b>10 Subjects in TOTAL</b>
            </div>
        </p>

        <br>

        <h3>Do I have to put in the scores in a specific order?</h3>
        <p class="text-break"> <b>No,</b> however, you do need to classify between <b><i>CORES AND ELECTIVES.</i></b></p>

        
        <br>
        <a href="/">
            <h4>Back to Main Page</h4>
        </a>
    </div>
</header>
{% endblock content %}