{% extends "layout.html" %}
{% block content %}
    <br><br><br><br><br><br>
    <header align="center" style="max-width: 500px; margin-left: auto; margin-right: auto">
      <div class='main_box'>
        <br>

        <div class="shadow-lg mb-5 bg-white rounded"><i><h2>Parin's Grade Calculator</h2>
          <h3><p>Choose one option that is for your Grade!</p></h3></i></div>
      <nav style="font-size:20px">

          <br>

          <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/elementary'">
            Elementary Students
  </button>

          <br>
          <br>

          <button type="button" class="btn btn-warning btn-lg" onclick="window.location.href='/standards'">
            HS Standard Students
  </button>
            <br>
            <br>
          <button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/honors'">
            HS Honors Students
  </button>
        
        </h4>
          <br>
          <br>
      <h3><p>Made by: Parinthapat Pengpun</p></h3>


          <p><h6>Created: 5/7/2020</h6></p>
          <p><h6>Last Updated: 29/10/2020</h6></p>
          <p><h6>Version: 1.7.5</h6></p>
          <p><h6><a href="credits">CREDITS</a> </h6></p>

      </nav>

      </div>
    </header>
        <br><br><br><br>
{% endblock content %}
