{% extends "layout.html" %}
{% block content %}
    <br><br><br><br><br><br><br><br>
    <header align="center" style="max-width: 500px; margin-left: auto; margin-right: auto">
      <div style="color: black; border: 5px solid black; border-radius: 30px; display: inline-block; background: white">
        <br>

      <i><h1>Grade Calculator v1.0!</h1>
      <h2><p>Choose your version from the link below!</p></h2></i>
      <nav style="font-size:20px">

          <br>

       <h4><p style="font-family:Source Sans Pro"><a href="normal"> Grade Calculator for 7 and 8</a></p>
           <p style="font-family:Source Sans Pro"><a href="beta">
        Grade Calculator for Honors (GRADE 9 and UP)</a></p>
        </h4>
          <br>
      <h3><p>Made by: Parinthapat Pengpun 2020 </p></h3>


          <p><h6>Written in Python(Flask), HTML, and CSS</h6></p>

      </nav>

      </div>
    </header>
        <br><br><br><br>
{% endblock content %}