{% extends "layout.html" %}
{% block content %}

<header align="center" style="max-width: 500px; margin-left: auto; margin-right: auto">
    <div class='main_box'>
        <br><br>
        <i>
            <h3>{{ _('Instructions') }}</h3>
            <h5>
                <p>
                    {{ _('Tap/Click each space and input your grades as numbers (No percentage
                    sign). Click calculate and your answer will be in the box.') }}
                </p>
                <hr>
            </h5>
        </i>
        <br>
        <div class="alert alert-primary" role="alert"><b style="font-size: 20px;">
                {% if final_grade %} <b style="font-size: 40px;"> {{ final_grade }} </b> {% else %} {{_('YOUR GRADE WILL BE
                HERE!')}} {% endif %}
            </b>
        </div>
        <p>Out of 4.0</p>
        <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='/help'">
            {{_('What are Core/Electives Subjects?')}}
        </button>
        <br>
        <br>
        <fieldset class="form-group">
            <form action="/standards" method="POST">
                <div>
                    <label for="core1">
                        {{_('Core Subject')}} 1:
                    </label>
                    <input type="text" placeholder="  100" class="u-full-width" name="core1">
                </div>

                <div>
                    <label for="core2">
                        {{_('Core Subject')}} 2:
                    </label>
                    <input type="text" placeholder="  100" class="u-full-width" name="core2">
                </div>

                <div>
                    <label for="core3">
                        {{_('Core Subject')}} 3:
                    </label>
                    <input type="text" placeholder="  100" class="u-full-width" name="core3">
                </div>

                <div>
                    <label for="core1">
                        {{_('Core Subject')}} 4:
                    </label>
                    <input type="text" placeholder="  100" class="u-full-width" name="core4">
                </div>

                <hr>
                <div class="form-group">

                    <div>
                        <label for="elective1">
                            {{_('Elective Subject')}} 1:
                        </label>
                        <input type="text" placeholder="  100" class="u-full-width" name="elective1">
                    </div>

                    <div>
                        <label for="elective2">
                            {{_('Elective Subject')}} 2:
                        </label>
                        <input type="text" placeholder="  100" class="u-full-width" name="elective2">
                    </div>

                    <div>
                        <label for="elective3">
                            {{_('Elective Subject')}} 3:
                        </label>
                        <input type="text" placeholder="  100" class="u-full-width" name="elective3">
                    </div>

                    <div>
                        <label for="elective4">
                            {{_('Elective Subject')}} 4:
                        </label>
                        <input type="text" placeholder="  100" class="u-full-width" name="elective4">
                    </div>


                    <div>
                        <label for="elective5">
                            {{_('Elective Subject')}} 5:
                        </label>
                        <input type="text" placeholder="  100" class="u-full-width" name="elective5">

                    </div>
                    <div>
                        <label for="elective6">
                            {{_('Elective Subject')}} 6:
                        </label>
                        <input type="text" placeholder="  100" class="u-full-width" name="elective6">
                    </div>


                </div>
                <input type="submit" class="btn btn-success" value="Calculate" id="calc_button" />
            </form>
        </fieldset>

        <br><br><br>
        <br>
        <a href="/">
            <h4>{{_('Back to Main Page')}}</h4>
        </a>

    </div>
</header>

<br>
{% endblock content %}